@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #dcedc1;
    color: #571930;
    font-family: Arial, Helvetica, sans-serif;
}
/* ----------HEADER(NAV BAR)--------------------- */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}





/* --------------MAIN  BODY------------------- */

.row{
    margin: 10% 10%;
    display: flex;
    height: 88%;
    align-items: center;
    margin-bottom: 3%;
    /* margin-top: 0;
    padding-top: 0; */

}
.col{
    flex-basis: 80%;
    margin-left: 10%; 
    margin-right: 10%;
   
}
.col h1{
    font-size: 1000px;
    color:#000;
    text-align: center;

}
.col p{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 65%;
    color: #000;
    line-height: 15px;
}

h1 span{
    color: #ff004f;
}

.btn{
    display: block;
    margin: 50px auto;
    width: 180px;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn.btn2:hover{
    background: transparent;
    color: #ff004f;

}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.download .btn2{
    padding: 8px 25px;
    font-size: 13px;
    margin-top: 20px;
    cursor: pointer;
}
.download{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin-bottom: 0px;
    text-align: center;
}

/* ---------------------------FOOTER--------------- */
#hori1{
    margin: 2% 10% 3% 10%;
}
#connect{
    font-size: 15px;
    text-align: center;
    /* padding-bottom:; */
}
            
/* ------SOCIAL MEDIA ----------*/
.social_media{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1;
    font-size: 25px;
}
.social_media i{
    margin: 10px;
}
.social_media i{
    
    opacity: 0.8;
    padding: 0 5px;
}
.social_media i:hover{
    opacity: 1;
    transform: scale(1.5);
}
      


/* ----- copyright----- */
.au{
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 90px;
    color:#571930;
    opacity: 1;
    font-weight: 600;
    text-align: center;
    font-family: 'Noto Serif Tibetan', serif;
   
}


.au i{
    color: #ff004f;
}
.au p{
    font-size: 12px;
}






/* ------------Media Queries for Explore Button-------------------- */

@media only screen and (max-width:1600px){

    .col h1{
        font-size: 90px;
        color:#000;
        text-align: center;

    }
    .col p{
        font-size: 15px;
        margin-top: 10px;
        margin-left: 65%;
        color: #000;
        line-height: 15px;
    }
    .btn{
        display: block;
        margin: 50px auto;
        width: 180px;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        transition: background 0.5s;
    }
    .download .btn2{
        padding: 8px 25px;
        font-size: 13px;
        margin-top: 20px;
        cursor: pointer;
    }
    
    
}

.row{
    margin: 3% 10% 0 10%;
    /* margin: 0; */
    }


@media only screen and (max-width:1100px){
    .row{
        margin: 8% 10% 0 10%;
        /* margin: 0; */
        }

    .col h1{
        font-size: 80px;
        color:#000;
        text-align: center;

    }
    .col p{
        font-size: 15px;
       
        margin-top: 10px;
        margin-left: 65%;
        color: #000;
        line-height: 15px;
    }
    .btn{
        display: block;
        margin: 50px auto;
        width: 180px;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        transition: background 0.5s;
    }
    .download .btn2{
        padding: 8px 25px;
        font-size: 13px;
        margin-top: 20px;
        cursor: pointer;
    }
    
}

@media only screen and (max-width:700px){
  

    .col h1{
        font-size: 60px;
        color:#000;
        text-align: center;

    }
}

@media only screen and (max-width:500px){
    .col h1{
        /* display: flex; */
        font-size: 50px;
        color:#000;
        text-align: center;
        margin-top: 10%;
       
    
    }
    .col p{
        font-size: 14px;
        margin-top: 15px;
        margin-left: 65%;
        color: #000;
        line-height: 10px;
    }
  
    .download .btn2{
        padding: 8px 25px;
        font-size: 13px;
        margin-top: 20px;
        cursor: pointer;
    }
    .btn{
        display: block;
        margin: 50px auto;
        width: 180px;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        transition: background 0.5s;
    }
    .logo1{
        /* cursor: pointer; */
        /* height: 100px; */
        /* margin-right: auto; */
        margin-left: 2%;
    }
   
    
}

/*----live counter  */
#nom{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

#nom{
    display:none;
/*     total 187 visitor are there */
} 


/* For small screens */
@media only screen and (max-width: 480px) {
    .row {
        flex-direction: column; /* Change flex direction to column for stacking */
        align-items: center; /* Center-align items */
        margin-top: 20px; /* Adjust margin if needed */
        margin-bottom: 20px; /* Adjust margin if needed */
    }

    .col {
        flex-basis: 100%; /* Occupy full width */
        text-align: center; /* Center-align text */
        margin: 0; /* Remove left and right margin */
    }

    .col p {
        /* margin-left: 0;  */
        /* Remove left margin for paragraph */
    }
}
